# Папка сборки CMake
build/

# Артефакты сборки (на случай, если кто-то собирал в корне)
*.elf
*.bin
*.hex
*.map
*.o
*.obj

# Служебные файлы редакторов
git_push_with_key.sh
.vscode/
*.swp
*~
.DS_Store

# Логи и временные файлы
*.log
*.tmp

# Файлы отладки
*.d